<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Path_Of_Trade.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Path_Of_Trade.Settings1>
            <setting name="league" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="taglanguage" serializeAs="String">
                <value>TW</value>
            </setting>
            <setting name="statslanguage" serializeAs="String">
                <value>Traditional Chinese</value>
            </setting>
            <setting name="fetchnum" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="mokey" serializeAs="String">
                <value>Ctrl</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="minroll" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="maxroll" serializeAs="String">
                <value>130</value>
            </setting>
        </Path_Of_Trade.Settings1>
    </userSettings>
</configuration>